<h1>All manufacturers</h1>

<% @manufacturers.each do |manufacturer| %>
    
    <div class="listing">
        <%= link_to manufacturer.name, manufacturer %>
        <ul>
            <li>Founder: <%= manufacturer.founder %></li>
            <li>Founded: <%= manufacturer.founded %></li>
            <li>Country: <%= manufacturer.country %></li>
        </ul>
    </div>
<% end %>